{{content.notes}}
<h2>Answers</h2>
<ul>
{{#each content.responses as |response|}}
{{response-edit response=response destroyResponse="destroyResponse"}}
{{/each}}
</ul>
<button{{action 'delete' content}}>Delete</button>
