{{#each favoriteQuestion.contents as |content|}}
<ol><li>{{#link-to 'content' content.id}}{{content.question}}{{/link-to}}</li></ol>
<ul>
  <li>by {{content.author}}</li>
</ul>
<button {{action 'removeFrom' content}}>Remove Favorites</button>
{{/each}}
