<h2>More on: <em>{{model.question}}</em> <strong>by {{model.author}}</strong></h2> <br>
{{update-content content=model update="update"}} <br>
{{content-detail content=model destroyContent="destroyContent"}}
